<h1 style="text-align: center;">Move List</h1>

<ul>
  <li *ngFor="let move of moves">
    {{ move.name }},
    {{ move.position }},
    {{ move.grip}}
  </li>
</ul>

<form *ngIf="moveForm" [formGroup]="moveForm" (ngSubmit)="addMove()">



  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" required>
  </div>

  <div>
    <label for="position">Position:</label>
    <input type="text" id="position" formControlName="position" required>
  </div>

  <div>
    <label for="grip">Grip:</label>
    <input type="text" id="grip" formControlName="grip" required>
  </div>

  <button type="submit">Add Move</button>
</form>
